<div class="user-details">
  <h1>Meet the Class</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Test 1</h2>
    &nbsp;&nbsp; 
    <p>Test text for pic1</p>
	  <p>&nbsp;</p>
	  <p>
	  <img alt="" height="159" src="../assets/images/download.jpeg" width="204"></p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
  </div>
  <div class="tech">
    <h2>Test 2</h2>
    &nbsp;&nbsp;      
    <p>Test text for pic2</p>
	  <p>&nbsp;</p>
	  <p>
	  <img alt="" height="159" src="../assets/images/download.jpeg" width="204"></p>
  </div>
  <div class="tech">
    <h2>Test 2</h2>
    &nbsp;&nbsp;      
    <p>Test text for pic2</p>
	  <p>&nbsp;</p>
	  <p>
	  <img alt="" height="159" src="../assets/images/download.jpeg" width="204"></p>
  </div>

